.menu-btn {
  position: absolute;
  z-index: 3;
  right: 2.1rem;
  top: 2.1rem;
  cursor: pointer;
  -webkit-animation: scaling 1s alternate forwards infinite;
          animation: scaling 1s alternate forwards infinite;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.menu-btn .btn-line {
  width: 1.9rem;
  height: 0.3rem;
  margin: 0 0 0.4rem 0;
  background: #fff;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes scaling {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(11px, -9px);
          transform: rotate(-45deg) translate(11px, -9px);
}

.menu-btn:hover .btn-line {
  background-color: #31c6e4;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #121618;
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: #1d2327;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .portrait {
  background-size: cover !important;
  width: 250px;
  height: 250px;
  background: url(../img/portrait.jpg);
  border-radius: 50%;
  border: solid 3px #31c6e4;
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  margin-bottom: 1.6rem;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #31c6e4;
}

.menu .nav-link {
  font-size: 1.9rem;
  font-weight: 400;
  padding: 1rem 0;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.menu .nav-link:hover {
  color: #ffeb3b;
  font-size: 2.7rem;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.secon-color {
  color: #31c6e4;
}

body {
  background-color: #1d2327;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body#bg-img {
  background: url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position-y: -100px;
}

body#bg-img .over-lay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(29, 35, 39, 0.85);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 5rem;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0 .2rem;
  background: rgba(33, 40, 45, 0.5);
}

.typing {
  position: relative;
  font-weight: 600;
  white-space: nowrap;
  color: transparent;
  font-size: 1.7rem;
}

.typing::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: #fff;
  overflow: hidden;
  border-right: 1.5px solid rgba(100, 233, 233, 0.5);
  white-space: nowrap;
  color: transparent;
  background: -webkit-gradient(linear, left top, right top, from(#1c92d2), to(#f2fcfe));
  background: linear-gradient(to right, #1c92d2, #f2fcfe);
  -webkit-background-clip: text;
  -webkit-animation: type 7s steps(29) infinite;
          animation: type 7s steps(29) infinite;
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #31c6e4;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 2.8rem);
}

main .icons {
  padding-top: 1rem;
}

main .icons a {
  padding: 0.7rem;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

main .icons a:hover {
  color: #31c6e4;
}

main .icons a i {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

main .icons a i:hover {
  -webkit-transform: scale(1.5);
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.9rem;
      grid-template-areas: "bioimage bio bio " "job1 job2 job3";
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
  margin: auto;
  border: #31c6e4 2px dashed;
  width: 220px;
  height: 285px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.bio-image:hover {
  border: #31c6e4 2px solid;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  font-size: 1.5rem;
}

.job-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: job1;
}

.job-1 span {
  border: 1px solid #eee;
  padding: 2px 5px;
  margin: 5px 0;
  display: inline-block;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.job-1 span:hover {
  border-color: #1d2327;
  color: #1d2327;
  background-color: #eee;
}

.job-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: job2;
}

.job-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: job3;
}

.job {
  background: #283036;
  padding: 0.5rem;
  border-bottom: #31c6e4 3px solid;
}

.job p .cv-link {
  text-align: center;
  display: block;
}

.job p .cv-link i {
  color: #31c6e4;
  padding-top: .5rem;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.job p .cv-link i:hover {
  color: #eee;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;
}

.projects img {
  width: 100%;
  height: 230px;
  border: solid 3px #fff;
}

.projects .p-content {
  position: relative;
}

.projects .p-content:hover .p-name {
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
}

.projects .p-content:hover img {
  opacity: 0.3;
  border-color: #31c6e4;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.projects .p-name {
  position: absolute;
  font-weight: 500;
  position: absolute;
  left: 50%;
  top: 35%;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  -webkit-transform: scale(0) translate(50%, 50%);
          transform: scale(0) translate(50%, 50%);
  color: #31c6e4;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.boxes div {
  font-size: 2rem;
  border: solid 3px white;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: #31c6e4;
  color: #000;
}

.boxes div:hover span {
  color: #000;
}

.btn, .btn-light, .p-dark {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
}

.btn:hover, .btn-light:hover, .p-dark:hover {
  background-color: #31c6e4;
  color: #000;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.btn-light {
  background: black;
  color: white;
}

.p-dark {
  background: #94a4af;
  color: #333;
  margin: 0;
  font-weight: 500;
  height: 100px;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #07090a;
  color: #fff;
  height: 2.8rem;
}

@media screen and (min-width: 1171px) {
  .projects {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (min-width: 1170px) {
  .projects {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  body#bg-img {
    background-position-x: -350px;
    background-position-y: -10px;
  }
  main {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem 1rem;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 0.6rem;
  }
  .menu-nav,
  .menu-branding {
    float: none;
    width: 100%;
  }
  .menu-nav.show,
  .menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: 1.6rem;
  }
  .menu-branding {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    width: 150px;
    height: 150px;
  }
  .about-info {
        grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .boxes div {
    font-size: 1.2rem;
    padding: 1rem 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh;
  }
  .projects {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
